.header {
    height: 400px;
    display: flex;
    /* justify-content: space-evenly; */
    background-image: url("image/Zootopia.png");
    color: #ffffff;
}

.title {
    font-size: 50px;
    font-family: serif;
    margin-left: 30px;
    margin-right: 30px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

.menu-item:hover {
    background-color: #c1b5a4;
    color: #80624F;
}